<%- include("includes/header.ejs") %>

    <body>
        <div class="container-fluid secret-header">
            <h1>Welcome</h1>
            <h2><span>
                    <%=usrdata.Fname%>
                        <%= usrdata.Lname %>
                </span></h2>
            <h3>Your Secret Gift is Here</h3>
            
        </div>
        <div class="data-box">
            <div class="row">

                <div class="fact col-md-6">
                    <h3>🧠 Secret Fact:

                        Your brain has no pain receptors — it can't feel pain itself. That’s why during certain brain
                        surgeries,
                        patients can
                        remain awake and even talk to surgeons. Despite being the control center for all your emotions,
                        senses, and
                        thoughts,
                        the brain can't directly feel pain. This strange reality allows doctors to perform procedures
                        like deep brain
                        stimulation while the patient is conscious, helping them precisely map areas responsible for
                        speech, movement,
                        or memory
                        — all while the brain silently watches, completely unaware it’s being touched.</h3>
                </div>
                <div class="datas col-md-6">
                    <h4>FULLNAME- <span>
                            <%=usrdata.Fname%>
                                <%= usrdata.Lname %>
                        </span></h4>
                    <h4>Email ID- <span>
                            <%= usrdata.email %>
                        </span></h4>
                    <h4></h4>

                    <img id="secret-img" src="/img/pikachu-transparent-32576.png" alt="">
                    <a class="btn btn-danger btn-lg" href="/logout" role="button">Log-out</a>
                </div>



            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    </body>

    </html>